*{
	margin: 0px;
	padding: 0px;
}
th{
	width: 120px;
	height: 30px;
}
td{
	border: 1px solid black;	
}
tr th{
	border: 1px solid black;
}
table{
	width: 500px;
	border: 1px solid black;
	text-align: center;
}
input{
	width: 162px;
	height: 30px;
	font-weight: 500;
	font-size: 18px;
	border: 1px solid black;
}
button{
	width: 100px;
	height: 30px;
	font-weight: 600;
}